.button {
  background-color: #3DBAC2 !important; /* Cor de fundo principal */ 
  border-color: #3DBAC2 !important; /* Cor da borda principal */
  color: white;
  border-radius: 5px;
  font-size: 1.2rem;
  transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out; /* Transição suave */
}

.button:hover {
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra sutil */
  border-color: #FFFF !important;
}

.button:active {
  transform: scale(0.90); /* Diminui um pouco o tamanho ao pressionar */
}

.invalid-feedback {
  color: #FFFFFF; /* Exemplo: Um vermelho mais suave */
}


/* --- Remova a cor verde dos rótulos (Bolsa, Carteira) */
.was-validated .form-check-input:valid + .form-check-label {
  color: inherit; /* Volta para a cor padrão do texto */
}


