/* Estilos mobile-first - Smartphone */

@media (max-width: 575px) {

.App {
  background-color: #AE8053;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main{
  flex-grow: 1;
   margin-top: 0;
}

.header {
  background-color: #CA3E77;
  height: 3.5rem;
  flex-shrink: 0;
  position: relative ;
  display:flex ;
  align-items: center; 
}

.prizoca_header{
position: absolute;
margin-left:50%;
transform: translateX(-50%);
padding-top: 5px;
}

.nav-links-tablet {
  display: none;
}

.menu-cellphone{
  margin-left:10px ;
}

.offcanvas-link {
  color: white !important;
}

.offcanvas-link:active {
  color: #3E1F1E !important;
  transform: scale(0.90);
  text-decoration: none !important;
}

.logo {
  width: 28%;
  height: auto;
  border-radius: 100%;
  padding:2% ;
}

.pri_image {
  width: 28%;
  height: auto;
  border-radius: 100%;
  padding:2% ;
}

.textoSobre{
  color: #3E1F1E;
  font-size: 16px;
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
}

.icon {
  width: 60px;
  height: auto;
  margin-bottom: 10px;
}
 
.icon-description-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.icon-description-item {
  width: calc(50% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  font-size: 100%;
}

.description {
  font-size: 1em;
  color: #3E1F1E;
  margin-bottom: 0;
}

.slogan{
  font-size: 16px;
  font-weight: bold;
  color: #3E1F1E;
  text-align: center;
}

.form{
  padding:4%;
  text-align: left;
  color: #3E1F1E;
}

.footer {
  background-color: #CA3E77;
  width: 100%;
  height: 3.5rem;
  display: flex;
  text-align: center;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}

.footer-tablet-desktop{
  display: none;
}

.footer div a {
  display: inline-block;
}

.instagram{
  height: 2.5rem;
  padding:5%;
}

.instagram:active {
    transform: scale(0.90);
}

.whatsapp{
  height: 2.5rem;
  padding:5% ;
}

.whatsapp:active {
    transform: scale(0.90);
}
}

/* Estilos para telas de tablet (de 575px até 990px de largura) -------------------------------------------------------------- */

@media (min-width: 575px) and (max-width: 990px) {

.App {
  background-color: #AE8053;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  scroll-padding-top: 6rem;
}

.main{
  flex-grow: 1;
  margin-top: 0;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color:#CA3E77;
  padding: 20px 20px; 
  padding-right: 40px; 
  padding-left: 30px;
  display: flex;
  align-items: center;

}

.nav-links-tablet {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  font-size: 20px;
}

.prizoca_header{
  margin-top: 0;
  margin-bottom: 0;
}

.menu-cellphone{
  display: none;
}

.link-tablet {
  color: white !important;
  text-decoration:none !important;
}

.link-tablet:hover {
  color: #3E1F1E !important; 
  text-decoration:none !important;
}

.link-tablet:active {
    transform: scale(0.90);
}

.main{
  flex-grow: 1;
   margin-top: 0;
}

.logo {
  width: 28%;
  height: auto;
  border-radius: 100%;
  padding:2% ;
}

.pri_image {
  width: 28%;
  height: auto;
  border-radius: 100%;
  padding:2% ;
 }

.logo_desktop{
  display: none;
}

.pri_image_desktop{
  display: none;
}

.textoSobre{
  font-size: 20px;
  color: #3E1F1E;
  text-align: justify;
   padding-left: 10%; 
  padding-right: 10%; 
}

.icon {
  width: 120px;
  height: auto;
  margin-bottom: 10px;
}
 
.icon-description-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.icon-description-item {
  width: calc(50% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
 font-size: 100%;
}

.description {
  font-size: 20px;
  color: #333;
  margin-bottom: 0;
}

.slogan{
  font-size: 25px;
  font-weight: bold;
  color: #3E1F1E;
  text-align: center;
  padding: 10px;
}

.form{
  padding-left:10%;
  padding-right:10%;
  padding-bottom:4%;
  text-align: left;
  color: #3E1F1E;
  font-size: 20px;
}

 .instagram{
  display: none;
}

.whatsapp{
 display: none;
}

.footer-tablet-desktop {
  background-color: #CA3E77;
  width: 100%;
  display: block;
  text-align: center;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
}

/* Estilos para telas Desktop (a partir de 991px de largura) -------------------------------------------------------------- */

@media (min-width: 990px) {

.App {
  background-color: #AE8053;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  scroll-padding-top: 6rem;
}

.main{
  flex-grow: 1;
   margin-top: 0;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color:#CA3E77;
  padding: 10px 10px; 
  padding-right: 40px;
  padding-left: 30px;
  display: flex;
  align-items: center;

}
 
.nav-links-tablet {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  font-size: 16px;
}

.prizoca_header{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 33px;
}

.menu-cellphone{
  display: none;
}

.link-tablet {
  color: white !important;
  text-decoration:none !important;
}

.link-tablet:hover {
  color: #3E1F1E !important; 
  text-decoration:none !important;
}

.link-tablet:active {
    transform: scale(0.90);
}

.main{
  flex-grow: 1;
   margin-top: 0;
}

.logo {
  width: 20%;
  height: auto;
  border-radius: 100%;
  padding:2% ;
}

.pri_image {
  width: 20%;
  height: auto;
  border-radius: 100%;
  padding:2% ;
 }


.textoSobre{
  font-size: 20px;
  color: #3E1F1E;
  text-align: justify;
  padding-left: 10%; 
  padding-right: 10%; 
}

.icon {
  width: 120px;
  height: auto;
  margin-bottom: 10px;
  padding-top: 15px;
}
 
.icon-description-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20%; 
  padding-right: 20%; 
}

.icon-description-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
 font-size: 100%;
}

.description {
  font-size: 20px;
  color: #333;
  margin-bottom: 0;
}

.slogan{
  font-size: 25px;
  font-weight: bold;
  color: #3E1F1E;
  text-align: center;
  padding: 20px;
}

.form{
  
  align-items: column;
  padding-left:10%;
  padding-right:10%;
  padding-bottom:4%;
  text-align: left;
  color: #3E1F1E;
  font-size: 20px;
}

 .instagram{
  display: none;
}

.whatsapp{
 display: none;
}

.footer-tablet-desktop {
  background-color: #CA3E77;
  width: 100%;
  display: block;
  text-align: center;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
}